<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>120693256818-0vcvjvo16hdm7gnr5me5t310250nr5do.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120693256818-0vcvjvo16hdm7gnr5me5t310250nr5do</string>
	<key>API_KEY</key>
	<string>AIzaSyDOVnEqqEf2JBmmRCIUY_0HaaT0dkGV_Yk</string>
	<key>GCM_SENDER_ID</key>
	<string>120693256818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MoBamba.Poppin</string>
	<key>PROJECT_ID</key>
	<string>poppin-26df6</string>
	<key>STORAGE_BUCKET</key>
	<string>poppin-26df6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120693256818:ios:c2463a6e1915bb28</string>
	<key>DATABASE_URL</key>
	<string>https://poppin-26df6.firebaseio.com</string>
</dict>
</plist>